@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  }
}

.transitionBtn {
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
  position: absolute;
  left: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 40% !important;
  width: 30px !important;
  height: 30px !important;
  background-color: rgb(98, 98, 98);
  border-radius: 50% !important;
  color: #fff !important;
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
}
.swiper-button-next:after,
.swiper-button-prev::after {
  font-size: 1rem !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
